<html>
    <head>
        <title>Site</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="header element">header</div>
            <div class="main element">
                <div class="gallery" style="width:100%; height: 20px;border: 1px solid white;">gallery</div>
                <div class="search" style="width: 100%; height: 20px;border: 1px solid white;">search</div>
                
                <div class="t">main</div>
            </div>
            <div class="footer element">footer</div>
        </div>
    </body>
</html>
